#header img{
    margin-left: 2%;
    width:15%;
    position: relative;
}
#header h2{
    display: inline-block;
    position: absolute;
    top: 2%;
    right: 2%;
    margin-left: 2%;
    width:15%;
}

#header p{
    margin-left: 2%;
    width:15%;
}

#header{
    position: relative;
    background-color: #0e9aff;
    width: 100%;
}

li.main_menu {
    display:inline-block;
    list-style:none;
    width:15%;
    text-align:center;
    position: relative;
}
ul{
    margin: 0 auto;
    text-align: center;
}

li {
    list-style:none;
}

.inscription {
    display:inline-block;
    width:140px;
}

.biblio {
    width:25%;
    display: inline-block;
    height: 200px;
    /* border: 1px solid black;*/
    margin: 40px;

}
.biblio  img{
    width:377px;
    height: 300px;
    border: 1px solid black;
}
