* {
    margin: 0px;
    padding: 0px;
}
p#bienvenue {
    text-align: center;
    color: red;
    font-size:  500%;
}

#header img{
    margin-left: 2%;
    width:15%;
    position: relative;
}

#header h2{
    display: inline-block;
    position: absolute;
    top: 2%;
    right: 2%;
    margin-left: 2%;
    width:15%;
}

#header p{
    margin-left: 2%;
    width:15%;
}

#header{
    position: relative;
    background-color: #0e9aff;
    width: 100%;
}

#header a{
    color: darkslategray;
    text-decoration: none;
}
#header a:visited{
    color: yellow;
    text-decoration: none;
}

#header a:hover{
    color: red;
    font-size: 150%;
}


#header li{
    display:inline-block;
    list-style:none;
    width:15%;
    text-align:center;
    position: relative;
}

#header ul{
    text-align: center;
    align-content: center;

}

#main {
    width: 50%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#main a{
    text-decoration: none;
}

p{
    font-size: 150%;
    margin-top: 7%;
    margin-bottom: 1%;
}



h1{
    text-align: center;
    color: #0e9aff;
    font-size:  450%;
}


#footer {
    height: 10%;
    position: absolute;
    background-color: #0e9aff;
    width: 100%;
    bottom: 0px;
    text-align: center;

}
#footer p{
    margin-top: 2%;
}


.inscription {
    display:inline-block;
    width:50%;
    margin-top:10px;
}

.biblio {
    width:25%;
    display: inline-block;
    height: 200px;
    /* border: 1px solid black;*/
    margin: 40px;

}
.biblio  img{
    width:377px;
    height: 300px;
    border: 1px solid black;
}

#nonestyle {
    list-style:none;
}

.error {
    background-color:orange;
}

.error>span{
   color: red;
}

